.form {
    margin: 4px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    flex: 3 1 85%;
    order: 1;
    align-items: center;
}

.form-group {
    margin: 4px;
}

.text-input {
    width: 200px;
    height: 1.3em;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
}

.text-input:active {
    outline: none;
    border: 1px solid blue;
}

.form-label {
    margin-right: 15px;
    display: inline-block;
    width: 80px;
}
