.form {
    margin: 4px;
    padding: 5px;
    display: flex;
    flex-flow: column;
    flex: 3 1 85%;
    order: 1;
    align-items: center;
}

.button {
    color: black;
    background-color: lightgrey;
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid black;
    height: 40px;
}

.button-small {
    color: black;
    background-color: lightgrey;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid black;
    height: 28px;
}

.button:hover, .button-small:hover {
    color: white;
    background-color: black;
}

.form-group {
    margin: 4px;
}

.text-input {
    width: 200px;
    height: 1.3em;
    font-size: 16px;
    padding: 5px;
    border: 1px solid black;
}

.text-input:active {
    outline: none;
    border: 1px solid blue;
}

.form-label {
    margin-right: 15px;
    display: inline-block;
    width: 80px;
}