.player {
    padding: 5px;
    flex-direction: row;
    align-items: center;
}

.player > * {
    margin: 2px;
}

.progress-container {
    flex-grow: 1;
}

.player-buttons {
    margin-right: 5px;
    flex-direction: column;
}

.player-buttons > button {
    margin: 0 -1px -1px 0;
}

.player-progress {
    height: 1.5em;
    width: 100%;
    margin-bottom: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #4a4a4a;
    display: block;
    overflow: hidden;
    padding: 0;
}

.player-progress::-webkit-progress-bar {
    background-color: #dbdbdb;
}

.player-progress::-webkit-progress-value {
    background-color: #4a4a4a;
}

.player-progress::-moz-progress-bar {
    background-color: #4a4a4a;
}

.progress-title {
    flex-grow: 1;
}

.progress-text {
    flex-grow: 0;
}

@media all and (max-width: 640px) {
    .player {
        flex-direction: column;
        align-items: stretch;
    }

    .player-buttons {
        align-self: center;
    }
}