.podcast-list {
    flex-direction: row;
    flex-wrap: wrap;
}

.podcast-image {
    border: 3px solid black;
    border-radius: 2px;
}

figcaption {
    font-weight: bold;
    margin-top: 5px;
}

.podcast-details-item {
    background-color: white;
    padding: 0.5rem;
    margin: 3px;
    flex-direction: row;
}

.podcast-details-item > * {
    margin: 2px;
}

.podcast-title {
    display: inline-block;
    font-weight: bold;
}

.podcast-details-image {
    border: 1px solid black;
    max-height: 120px;
    max-width: 120px;
    align-self: center;
}

.buttons {
    flex-grow: 0;
}

.podcast-list-item {
    margin: 5px;
    max-width: 95%;
}

.button-bar > button {
    margin-left: 3px;
    margin-right: 3px;
}

#delete-button {
    margin-left: auto;
}

#search-input {
    margin-bottom: 1.0rem;
    width: 300px;
    margin-left: auto;
}